// Additional common configuration for specification targets.

// NOTE: Redefine CTD_MODULE_NAME in the xcconfig file for each specific
// spec target. (Unfortunately, I have found no way to automatically strip
// the "Specs" part of the target name; it seems that Xcode 4 doesn't support
// any of the common variable expansion operations found in shells.)

#include "General-Tests.xcconfig"

// For Xcode 5, we need to switch to XCTest
WRAPPER_EXTENSION = xctest
BUNDLE_LOADER = $(CTD_APP_BUNDLE)
TEST_HOST = $(BUNDLE_LOADER)

// No separate Resources dir for specs and all files in the Specs subdir for the module.
CTD_SPECS_DIR = $(SOURCE_ROOT)/Specs
INFOPLIST_FILE = $(CTD_SPECS_DIR)/$(TARGET_NAME)-Info.plist
GCC_PREFIX_HEADER = $(CTD_SPECS_DIR)/$(TARGET_NAME)-Prefix.pch
CTD_SPEC_HELPERS = SpecHelpers

// Project headers used by specs, with a place for customization in per-module config.
USER_HEADER_SEARCH_PATHS = $(SOURCE_ROOT)/Code $(CTD_SPEC_HELPERS) $(RXC_MODULE_DEPENDENCIES) $(inherited)
