// Common configuration for CTDActivities target.

#include "General-Common-StaticLibrary.xcconfig"

// Project module source dependencies:
TEMP_MODULE_DEPENDENCIES = $(CTD_PRESENTATION_HEADERS)
USER_HEADER_SEARCH_PATHS = $(TEMP_MODULE_DEPENDENCIES) $(CTD_MODEL_HEADERS) $(CTD_UTILITY_HEADERS) $(inherited)
