// Configuration for CTDActivitiesTests target.

#include "ConnectTheDots-AllTests.xcconfig"

// Tests are part of a parent module.
CTD_MODULE_NAME = CTDActivities

// Project module source dependencies:
//HEADER_SEARCH_PATHS = $(CTD_PROJECT_LIBRARY_DIR) $(inherited)
RXC_MODULE_DEPENDENCIES = $(CTD_UTILITY_HEADERS)
