// Common configuration for CTDApplication target.

// Build an iOS app. (Final app name matches product name, not target name.)
PRODUCT_NAME = $(CTD_APP_TARGET)
WRAPPER_EXTENSION = app
MACH_O_TYPE = mh_executable

// Project module source dependencies:
USER_HEADER_SEARCH_PATHS = $(CTD_APPLICATION_HEADERS) $(CTD_STORAGE_HEADERS) $(CTD_SYSTEM_ADAPTERS_HEADERS) $(CTD_UIKIT_BRIDGE_HEADERS) $(inherited)
