// Common configuration for CTDPresentation target.

#include "General-Common-StaticLibrary.xcconfig"

// Project module source dependencies:
TEMP_USER_HEADER_SEARCH_PATHS = $(CTD_UI_PLUGINS_HEADERS)
USER_HEADER_SEARCH_PATHS = $(TEMP_USER_HEADER_SEARCH_PATHS) $(CTD_UI_BRIDGE_HEADERS) $(CTD_MODEL_HEADERS) $(CTD_UTILITY_HEADERS) $(inherited)
