// Configuration for CTDUIPluginsTests target.

#include "ConnectTheDots-AllTests.xcconfig"

// Tests are part of a parent module.
CTD_MODULE_NAME = CTDUIPlugins

// Temporarily open up the Presentation module's headers to the UIPlugins
// tests, until the transition is complete (to mimimize unnecessary changes to
// the source files)
TEMP_MODULE_DEPENDENCIES = $(CTD_UI_BRIDGE_HEADERS)/CTDUIBridge/ExtensionPoints $(CTD_PRESENTATION_HEADERS)/CTDPresentation

// Project module source dependencies:
RXC_MODULE_DEPENDENCIES = $(TEMP_MODULE_DEPENDENCIES) $(CTD_UI_BRIDGE_HEADERS) $(CTD_UTILITY_HEADERS)
