// Common configuration for UIKit Bridge target.

#include "General-Common-StaticLibrary.xcconfig"

// Project module source dependencies:
TEMP_MODULE_DEPENDENCIES = $(CTD_MODEL_HEADERS)
USER_HEADER_SEARCH_PATHS = $(TEMP_MODULE_DEPENDENCIES) $(CTD_APPLICATION_HEADERS) $(CTD_INTERACTION_HEADERS) $(CTD_UTILITY_HEADERS) $(COCOA_ADDITIONS_HEADERS) $(inherited)
